<settings>
    <category label="Settings">
        <setting id="_FIRST_TIME"  type="bool" label=""         visible="false" default="true"/>
        <setting id="STREAM_NAMES" type="text" label="Stream Names (comma sepparated)" default="My Stream" />
        <setting id="STREAM_URLS" type="text" label="Stream URLs (comma sepparated)" default="rtsp://170.93.143.139/rtplive/470011e600ef003a004ee33696235daa" />
        <setting id="PLAY_TIME" type="number" label="Time to play each stream (s)" default="30" />
    </category>
</settings>
